!!! 5
!= cc_html(:lang => 'en') do
  %head
    %meta{'charset' => "utf-8"}
    %meta{'http-equiv' => "X-UA-Compatible", 'content' => "IE=edge,chrome=1"}

    %title=@title || "NOLA(DOT)COM re-envisioned"
    %meta{'name' => "description", 'content' => "A re-envisioning of what the nola.com page could look like"}
    %meta{'name' => "author", 'content' => "daybreaker"}

    %meta{'name' => "viewport", 'content' => "width=device-width"}

    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
	  
    :css
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
	  
    = csrf_meta_tags  
  %body
    /[if lt IE 7]
      %p.chromeframe
        Your browser is
        %em="ancient!"
        =link_to "Upgrade to a different browser", "http://browsehappy.com/"
        or</a> or <a href=
        =link_to "install Google Chrome Frame", "http://www.google.com/chromeframe/?redirect=true"
        to experience this site

    .navbar.navbar-fixed-top
      .navbar-inner
        .container
          =link_to "NOLA.com", root_path, :class => "brand"
          %ul.nav
            - Newsfeed.headers.each do |header|
              -active = params[:main] && params[:main] == header
              %li{:class => active ?  "active" : "dropdown"}
                - if !active               
                  %a{:class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :href => "#"}
                    = header.titlecase
                    %b.caret
                  %ul.dropdown-menu
                    - Newsfeed.subheaders(header).each do |sub|
                      %li{:class => params[:sub] && params[:sub] == sub ? "active" : ""}
                        = link_to sub.titlecase, feed_url(:main => header, :sub => sub)
                - else 
                  %span.text=header.titlecase
          /.nav-collapse
        /.container
      /.navbar-inner
    /.navbar

    .container
      
      %header#overview.jumbotron.subhead
        .header-ad
          =image_tag "http://placehold.it/600x100&text=advertisement+space"
        .subnav
          %ul.nav.nav-pills
            - Newsfeed.subheaders(params[:main]).each do |sub|
              %li{:class => params[:sub] && params[:sub] == sub ? "active" : ""}
                = link_to sub.titlecase, feed_url(:main => params[:main], :sub => sub)
              -#%li.dropdown.active
              -#  %a{:class => "dropdown-toggle", :data => {:toggle => "dropdown"}, :href => "#"}
              -#    News
              -#    %b.caret
              -#  %ul.dropdown-menu
              -#    %li.active
              -#      =link_to "General", "/news-general"
              -#    %li
              -#      =link_to "World", "/world-news"

      
      = yield
      
      %hr

      %footer
        %p
          &copy; Brad Huber & Associates 2012
    
    /.container
 
  /<script>
  /  var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
  /  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  /  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  /  s.parentNode.insertBefore(g,s)}(document,'script'));
  /</script>
